/* Cores */
$primary-bg-color: rgb(0, 0, 0);
$primary-button-color: #ffffff;
$primary-button-hover-color: #960000;

.MovieDetail {
    color: white;
    background-color: $primary-bg-color;
    padding: 150px 0;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        flex: 1;
        margin: 0 100px;
    }

    &__title {
        font-size: 48px;
        margin-bottom: 50px;
        text-align: center;
    }

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 75px;

        img {
            border-radius: 0.5rem;
            max-width: 100%;
        }
    }

    &__details {
        font-size: 24px;
        margin-bottom: 75px;
    }

    &__detail {
        margin-bottom: 25px;
        
        span {
            font-weight: bold;
            margin-right: 10px;
        }
    }

    &__button {
        display: block;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        background-color: $primary-button-color;
        color: #000000;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-size: 24px;
        text-decoration: none;

        &:hover {
            background-color: $primary-button-hover-color;
            color: white;
        }
    }
}

.language{
    text-transform: uppercase;
}